body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  position: relative;
  z-index: 1;
}

.gradient {
background: #833AB4;
background: radial-gradient(circle, rgb(165, 53, 240) 0%, rgba(253, 29, 29, 1) 30%, rgba(252, 176, 69, 1) 100%);
}
